@tailwind base;
@tailwind components;
@tailwind utilities;

#ide {
  height: 60vh;
  @apply py-1;
}

#console {
  height: 40vh;
  border-top: 5px dotted black;
  font-size: 15px;
  overflow: auto;
  @apply bg-black text-white px-5 py-2;
}

#console h1 {
  font-family: Inter;
  @apply text-xl font-bold text-white;
}

#console,
#console pre {
  font-family: "Source Code Pro";
}
#sidebar h1 {
  @apply flex flex-shrink-0 items-center px-4 text-xl font-bold;
}
